div {
    width: 30%;
    padding: 20px 15px;
    margin: 30px 450px 50px;
    position: relative;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 3px 3px;
   }

   input[type=text],select {
       width: 100%;
       margin: 8px 0;
       padding: 10px 12px;
       box-sizing: border-box;
   }
   input[type=submit] {
       width: 100%;
       margin: 10px 0;
       padding: 15px;
       box-sizing: border-box;
       background-color: rgb(18, 161, 255);
       text-align: center;
       text-overflow: clip;
       font-size: 20px;
       color: aliceblue;
       position: relative;
   }
   input[type=submit]:hover{
       background-color: aquamarine;
   }

  h2 {
   text-align: center;
  }
  label {
   color: rgb(160, 157, 160);
  }